@model ClosedQuestionViewModel


<div class="questBox">
    <button asp-action="Edit" asp-route-id="-1" asp-route-type="Delete" asp-route-text="@Model.Order" class="circle">
        <i class="fa-solid fa-trash"></i>
    </button>
    <input style="display: none" value="@Model.Order" asp-for="Order"/>
    <div class="customRow">
        <div class="questTextBox">
            <input onfocus="onFocus(this)" onblur=onFocusOut(this) placeholder="Въпрос" type="text" value="@Model.Text" asp-for="Text"/>
            <span class="underline"></span>
        </div>
    </div>
    <input type="text" value="@Model.Order" asp-for="Order" class="d-none"/>
    <div class="choice" onFocus="onFocus(this)" onBlur="onFocusOut(this)">
        @for (int i = 0; i < Model.Answers.Count(); i++)
        {
            <div class="questTextBox option">
                <div>
                    <input type="checkbox" asp-for="@Model.AnswerIndexes[i]"/>
                </div>
                <input onFocus="onFocus(this)" onBlur="onFocusOut(this)" placeholder="Опция @(i + 1)" type="text" asp-for="Answers[i]"/>
                    <span class="underline"></span>
            </div>
        }
    </div>
</div>