@model OpenQuestionReviewViewModel
<div class="questBox">
    @{
        int score = 0;
        if (Model.Answer == "")
        {
            Model.Answer = "...";
        }
        if (Model.RightAnswer == Model.Answer)
        {
            score = Model.MaxScore;
        }
    }
    <p class="questionScore">@score/@Model.MaxScore</p>
    <input value="@Model.Id" asp-for="Id" style="display: none"/>
    <div class="customRow">
        <div class="questTextBox">
            <p>@Model.Text</p>
        </div>
    </div>
    <div class="questTextBox questAnswer">
        <div>
            @{
                if (score!=0)
                {
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-check" style="color: #358DF1;"></i>
                        <p>@Model.RightAnswer</p>
                    </div>
                }
                else
                {
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-check" style="color: #198754;"></i>
                        <p>@Model.RightAnswer</p>
                    </div>
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-xmark" style="color: #BF3100;"></i>
                        <p>@Model.Answer</p>
                    </div>
                }
            }
        </div>
    </div>
</div>