@model OpenQuestionViewModel
<div class="questBox">
    <div class="form-group uploader" style="display: none">
        <input id="file-upload" type="file" accept="image/*" asp-for="Image"/>

        <label for="file-upload" id="file-drag" style="float:none">
            <img id="file-image" src="@("/" + Model.ImagePath)" alt="Preview" class="hidden" style="max-width: 100%">
            <div id="start">
                <i class="fa fa-download" aria-hIdden="true"></i>
                <div>Select a file or drag here</div>
                <div id="notimage" class="hidden">Please select an image</div>
                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
            </div>
            <div id="response" class="hidden">
                <div id="messages"></div>
            </div>
        </label>
    </div>
    <div style="position: relative">
        <div class="questionScore questTextBox" style="width: 200px; height: 45px">
            <span>Точки:</span>
            <input type="text" value="@Model.MaxScore" asp-for="MaxScore" class="body_size" style="width: 20px; margin-right: 30px;" />
            <button class="circle delete" type="button">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        <div class="customRow">
            <div class="questTextBox" style="width: calc(100% - 250px);">
                <label class="checkbox_wrap">
                    <span>Урав   нение</span>
                    <input type="checkbox" asp-for="IsEquation" checked="@Model.IsEquation" class="checkbox_inp textTypeCheckbox">
                    <span class="checkbox_mark"></span>
                </label>
                @if (Model.IsEquation)
                {
                    <textarea onkeyup="textAreaAdjust(this)" style="display: none" onfocus="onFocus(this)" onblur=onFocusOut(this) placeholder="Въпрос" type="text" value="@Model.Text" asp-for="Text"></textarea>
                    <span class="math-field open" onfocus="onFocus(this)" onblur=onFocusOut(this)>@Model.Text</span>
                }
                else
                {
                    <textarea onkeyup="textAreaAdjust(this)" onfocus="onFocus(this)" onblur=onFocusOut(this) placeholder="Въпрос" type="text" value="@Model.Text" asp-for="Text"></textarea>
                    <span class="math-field open" style="display: none" onfocus="onFocus(this)" onblur=onFocusOut(this)>@Model.Text</span>
                }
                <span class="underline"></span>
            </div>
        </div>
        <div class="questTextBox questAnswer">
            <div>
                <span></span>
                @if (Model.IsEquation)
                {
                    <textarea onkeyup="textAreaAdjust(this)" style="display: none" onfocus="onFocus(this)" onblur=onFocusOut(this) placeholder="Отговор" type="text" value="@Model.Answer" asp-for="Answer"></textarea>
                    <span class="math-field openAnswer" onfocus="onFocus(this)" onblur=onFocusOut(this)>@Model.Answer</span>
                }
                else
                {
                    <textarea onkeyup="textAreaAdjust(this)" onfocus="onFocus(this)" onblur=onFocusOut(this) placeholder="Отговор" type="text" value="@Model.Answer" asp-for="Answer"></textarea>
                    <span class="math-field openAnswer" style="display: none" onfocus="onFocus(this)" onblur=onFocusOut(this)>@Model.Answer</span>
                }
                <span class="underline"></span>
            </div>
        </div>
    </div>
    <button class="addImageToQuestionBtn btn btn-secondary" type="button">Добави Изображение</button>
</div>
@if (Model.ImagePath != "")
{
    <script>
        document.getElementById('start').classList.add("hidden");
        document.getElementById('response').classList.remove("hidden");
        document.getElementById('notimage').classList.add("hidden");
        document.getElementById('file-image').classList.remove("hidden");
        document.getElementById('file-image').src = URL.createObjectURL(file);
    </script>
}