@model OpenQuestionReviewViewModel
@{
    string studentsAnswer = Model.Answer;
    if (string.IsNullOrWhiteSpace(studentsAnswer) || string.IsNullOrEmpty(studentsAnswer))
    {
        studentsAnswer = "(няма отговор)";
    }
}
<div class="questBox">
    <p class="questionScore">@($"{Model.Score:f2}")/@Model.MaxScore</p>
    <input value="@Model.Id" asp-for="Id" style="display: none"/>
    <div class="customRow">
        <div class="questTextBox">
            <p>@Model.Text</p>
        </div>
    </div>
    <div class="questTextBox questAnswer">
        <div>
            @{
                if (Model.Score!=0)
                {
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-check" style="color: #358DF1;"></i>
                        <p>@Model.RightAnswer</p>
                    </div>
                }
                else
                {
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-check" style="color: #198754;"></i>
                        <p>@Model.RightAnswer</p>
                    </div>
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-xmark" style="color: #BF3100;"></i>
                        <p>studentsAnswer</p>
                    </div>
                }
            }
        </div>
        <p>@Model.Explanation</p>
    </div>
</div>