@model OpenQuestionReviewViewModel
@{
    string studentsAnswer = Model.Answer;
    if (string.IsNullOrWhiteSpace(studentsAnswer) || string.IsNullOrEmpty(studentsAnswer))
    {
        studentsAnswer = "(няма отговор)";
    }
}
<div class="questBox">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="/@Model.ImagePath" style="max-width: 90%" />
    }
    <div class="questionScore questTextBox" style="width: 200px; height: 45px">
        <span>Точки:</span>
        <input type="text" value="@Model.Score" asp-for="Score" max="@Model.MaxScore" min="0" class="body_size scoreBox" style="width: 30%;"/>
        <span>/ @Model.MaxScore</span>
    </div>
    <div class="customRow">
        <div class="questTextBox" style="width: calc(100% - 250px);">
            <p>Въпрос: @Model.Text</p>
            <span class="underline"></span>
        </div>
    </div>
    <div class="customRow">
        <div class="questTextBox" style="width: calc(100% - 250px);">
            <p><i class="fa-solid fa-square-check" style="color: #198754;"></i> Правилен отговор: @Model.CorrectAnswer</p>
            <span class="underline"></span>
        </div>
    </div>
    <div class="customRow">
        <div class="questTextBox" style="width: calc(100% - 250px);">
            <p><i class="fa-solid fa-square-check" style="color: #358DF1;"></i> Отговор на ученикът: @studentsAnswer</p>
            <span class="underline"></span>
        </div>
    </div>
    <div class="customRow">
        <div class="questTextBox" style="width: calc(100% - 250px);">
            <textarea onkeyup="textAreaAdjust(this)" onfocus="onFocus(this)" onblur=onFocusOut(this) placeholder="Обяснение"
            type="text" value="@Model.Explanation" asp-for="Explanation"></textarea>
            <span class="underline"></span>
        </div>
    </div>
</div>