@model OpenQuestionReviewViewModel
@{
    string studentsAnswer = Model.Answer;
    if (string.IsNullOrWhiteSpace(studentsAnswer) || string.IsNullOrEmpty(studentsAnswer))
    {
        studentsAnswer = "(няма отговор)";
    }
}
<div class="questBox">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="@Model.ImagePath" style="max-width: 90%" />
    }
    <p class="questionScore">@($"{Model.Score:f2}")/@Model.MaxScore</p>
    <div class="customRow">
        <div class="questTextBox">
            <p>Въпрос: @Model.Text</p>
        </div>
    </div>
    <div class="questTextBox questAnswer">
        <div>
            @{
                if (Model.Score != 0)
                {
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-check" style="color: #358DF1;"></i>
                        <p>@Model.CorrectAnswer</p>
                    </div>
                }
                else
                {
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-check" style="color: #198754;"></i>
                        <p>@Model.CorrectAnswer</p>
                    </div>
                    <div class="icon-answer option">
                        <i class="fa-solid fa-square-xmark" style="color: #BF3100;"></i>
                        <p>@studentsAnswer</p>
                    </div>
                }
            }
        </div>
        <p>@Model.Explanation</p>
    </div>
</div>