@using IntelliTest.Data.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditLessonViewModel
@{
    ViewBag.Title = "Editing";
}
<div class="editMain d-flex" style="flex-direction: row;align-items: start">
    <div class="propMenu" style="margin-bottom: 15px;">
        @*<img src="https://images.unsplash.com/photo-1579353977828-2a4eab540b9a?ixlib=rb-4.0.3&ixId=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2FtcGxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">*@
        <div class="propMenu-description">
            <div class="form-group py-2">
                <label asp-for="School"></label>
                <input id="school" value="@Model.School" class="input-field" style="color: black; width: 100%" type="email" placeholder="Училище" required>
            </div>
            <div class="form-group py-2">
                <label asp-for="Subject"></label>
                <select asp-for="Subject" class="form-control">
                    @foreach (var subjectValue in Enum.GetValues(typeof(Subject)))
                    {
                        string name = Enum.GetName(typeof(Subject), subjectValue);
                        <option value="@subjectValue">@name</option>
                    }
                </select>
            </div>
            <div class="form-group py-2">
                <label asp-for="Grade"></label>
                <input id="grade" value="@Model.Grade" class="input-field" style="color: black; width: 100%" type="email" placeholder="Предмет" required>
            </div>
        </div>
    </div>
    <div id="addAddMoreDiv" style="width: 60%; margin-top: 50px; margin-left: 10%;padding-left: 1.8rem; z-index: 0" class="questBox lessonBox">
                    <div class="editor lessonEditor">
                        <h1 data-placeholder="Напишете заглавието си">@Model.Title</h1>
                        <p data-placeholder="Напишете или поставете съдържанието си тук.">@Model.Content</p>
                    </div>
        <br/>
            <div id="validation" class="small text-danger">
               
            </div>
            <div class="button-container">
                <button class="btn-hover color-2" onclick="Submit()">Готово</button>
            </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/ckeditor.js" asp-append-version="true"></script>
    <script>BalloonBlockEditor
				.create( document.querySelector( '.editor' ), {
                    licenseKey: '',
				} )
				.then( editor => {
					window.editor = editor;
                    editor.setData('@Html.Raw(Model.HtmlContent)');
				} )
                    let validationSpan = document.getElementById("validation");
                    function Submit(){
                        let titleText = document.querySelector(".lessonEditor h1").textContent;
                        let htmlContentText = editor.getData();
                        let contentText = [...document.querySelectorAll(".lessonEditor > p")].map(e=>e.textContent).join('. ');
                        let schoolText = document.querySelector("#school").value;
                        let subjectText = document.querySelector("#subject").value;
                        let grade = document.querySelector("#grade").value;
                            console.log(`?title=${titleText}&content=${contentText}&htmlContent=${encodeURIComponent(htmlContentText)}
                            &school=${schoolText}&subject=${subjectText}&grade=${grade}`)
                        $.ajax({
                        type: 'GET',
                                url: `@Url.Action("SubmitEdit", "Lessons", new { id = Model.Id })?title=${titleText}&content=${contentText}&htmlContent=${encodeURIComponent(htmlContentText)}
                        &school=${schoolText}&subject=${subjectText}&grade=${grade}`,
                          success: function(res){
                            if (res.startsWith("/")) {
                                window.location.href = res;
                            }
                              validationSpan.textContent = res;
                          },
                          error: function(er){
                                window.location.href = "/Error/" + er.status;
                            }
                        });
                    }
		</script>
}