@using IntelliTest.Data.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditLessonViewModel
@{
    ViewBag.Title = "Editing";
    int i = 0;
}
<div class="editMain d-flex" style="flex-direction: row;align-items: start">
    <div class="propMenu" style="margin-bottom: 15px;">
        @*<img src="https://images.unsplash.com/photo-1579353977828-2a4eab540b9a?ixlib=rb-4.0.3&ixId=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2FtcGxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">*@
        <div class="propMenu-description">
            <div class="form-group py-2">
                <label asp-for="School"></label>
                <input id="school" value="@Model.School" class="input-field" style="color: black; width: 100%" type="email" placeholder="Училище" required>
            </div>
            <div class="form-group py-2">
                <label asp-for="Subject"></label>
                <select asp-for="Subject" class="form-control" id="subject">
                    @foreach (var subjectValue in Enum.GetValues(typeof(Subject)))
                    {
                        string name = Enum.GetName(typeof(Subject), subjectValue);
                        <option value="@i">@name</option>
                        i++;
                    }
                </select>
            </div>
            <div class="form-group py-2">
                <label asp-for="Grade"></label>
                <input id="grade" value="@Model.Grade" class="input-field" style="color: black; width: 100%" type="email" placeholder="Предмет" required>
            </div>
        </div>
    </div>
    <div id="addAddMoreDiv" style="width: 60%; margin-top: 50px; margin-left: 10%;padding-left: 1.8rem; z-index: 0" class="questBox lessonBox">
        <div class="editor lessonEditor">
            <h1 data-placeholder="Напишете заглавието си">@Model.Title</h1>
            <p data-placeholder="Напишете или поставете съдържанието си тук.">@Model.Content</p>
        </div>
        <br/>
        <div id="validation" class="small text-danger">
               
        </div>
        <button onclick="Submit()" class="btn btn-secondary">Готово</button>
    </div>
</div>

@section Scripts
{
    <script src="~/js/ckeditor.js" asp-append-version="true"></script>
    <script>
        let title = '@Html.Raw(Model.HtmlContent)'
        let id = '@Model.Id.ToString()'
    </script>
    <script src="~/js/lessonEdit.js" asp-append-version="true"></script>
}