@model LessonViewModel
<div class="row align-items-center">
    <div class="col-md-8 mb-3 mb-sm-0">
        <h5>
            <a href="#" class="text-primary">@Model.Title</a>
        </h5>
        <p style="color: rgba(0, 0, 0, 0.6)">
            <span class="body_size">Posted</span>
            <a class="text-black body_size" href="#">@((DateTime.Now - Model.CreatedOn).Minutes) minutes</a>
            <span class="body_size">ago by</span>
            <a class="text-black body_size">@Model.CreatorName</a>
        </p>
        <p>училище @Model.School</p>
        <div style="color: rgba(0, 0, 0, 0.5)">
            <a class="text-black body_size">#@Model.Subject</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row text-center op-7">
            <div class="col px-1 lessonProp">
                <div class="heart" onClick="onLike(this)"></div>
                <span style="align-self: end" class="d-block body_size">@Model.Likes Likes</span>
            </div>
            <div class="col px-1">
                <i class="fa-regular fa-comment"></i>
                <span class="d-block body_size">2 Replies</span>
            </div>
            <div class="col px-1">
                <i class="fa-solid fa-book-open-reader"></i>
                <span class="d-block body_size">@Model.Readers Readers</span>
            </div>
            <div class="col px-1">
                <i class="fa-regular fa-clock"></i>
                <span class="d-block body_size">@Math.Round(Model.Content.Split(" ").Length/150.0) min reading time</span>
            </div>
        </div>
    </div>
</div>