@using IntelliTest.Services.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IntelliTest.Core.Contracts
@model LessonViewModel
@inject ITeacherService teacherService
<div class="card card-margin">
    <div class="card-header no-border">
        <h5 class="card-title">@Model.Title - @Model.Grade</h5>
    </div>
    <div class="card-body pt-0">
        <div class="widget-49">
            <div class="widget-49-title-wrapper">
                <div class="widget-49-meeting-info">
                    <span class="widget-49-pro-title">@Model.Content.Substring(0,100)...</span>
                    <span class="widget-49-meeting-time">@Model.CreatedOn</span>
                </div>
            </div>
            <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item">
                    <span>Време за прочитане: @Model.ReadingTime мин</span>
                </li>
                <li class="widget-49-meeting-item">
                    <span>Читатели: @Model.Readers</span>
                </li>
            </ol>
            <div class="widget-49-meeting-action d-flex justify-content-end">
                @{
                    if ((bool)TempData.Peek("isTeacher"))
                    {
                        bool isOwner = await teacherService.IsLessonCreator(Model.Id, await teacherService.GetTeacherId(User.Id()));
                        if (isOwner)
                        {
                                        <a asp-action="Edit" asp-route-testId="@Model.Id"
                               class="btn btn-sm btn-primary back-col" style="margin-right: 30px">
                                                        Редактирай
                                        </a>
                        }
                    }
                    <a asp-action="Details" asp-route-id="@Model.Id"
                       class="btn btn-sm btn-secondary back-col">
                        Виж
                    </a>
                }
            </div>
        </div>
    </div>
</div>