@using IntelliTest.Core.Contracts
@using IntelliTest.Services.Infrastructure
@model LessonViewModel
@inject ILessonService lessonService
@{
    string ShowTime()
    {
        var span = DateTime.Now - Model.CreatedOn;
        if (span.TotalMinutes<60)
        {
            return span.Minutes + " min";
        }
        if (span.TotalHours<24)
        {
            return span.Hours + " hours";
        }
        else
        {
            return span.Days + " days";
        }
    }
}
<div class="row align-items-center">
    <div class="col-md-7 mb-3 mb-sm-0">
        <h2>
            <a href="#" class="text-primary">@Model.Title</a>
        </h2>
        <p style="color: rgba(0, 0, 0, 0.6)">
            <span class="body_size">Posted</span>

            <a class="text-black body_size" href="#">@(ShowTime())</a>
            <span class="body_size">ago by</span>
            <a class="text-black body_size">@Model.CreatorName</a>
        </p>
        <p style="color: rgba(0, 0, 0, 0.6)">училище: @Model.School</p>
        <a class="text-black body_size fs-5">#@Model.Subject</a>
    </div>
    <div class="col-md-5">
        <div class="row text-center op-7" style="height: 60px">
            <div class="col px-1 lessonProp">
                <div class="heart" style="@(await lessonService.IsLiked(Model.Id, User.Id()) ? "background-position: -2800px 0":"")" onClick="onLike(this)" id="@Model.Id"></div>
                <span class="d-block body_size" style="width: 100px">@Model.Likes Likes</span>
            </div>
            <div class="col col-2 px-1 lessonProp">
                <i class="fa-regular fa-comment"></i>
                <span class="d-block body_size">2 Replies</span>
            </div>
            <div class="col col-3 px-1 lessonProp">
                <i class="fa-solid fa-book-open-reader"></i>
                <span class="d-block body_size">@Model.Readers Readers</span>
            </div>
            <div class="col col-4 px-1 lessonProp">
                <i class="fa-regular fa-clock"></i>
                <span class="d-block body_size">@Math.Round(Model.Content.Split(" ").Length/150.0) min reading time</span>
            </div>
        </div>
    </div>
</div>