@model ClassViewModel
@{
    ViewBag.Title = "User Profile";
    string src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png";
    if (Model.Teacher.ImageUrl != "")
    {
        src = "/" + Model.Teacher.ImageUrl;
    }
}
<a asp-action="Details" asp-route-id="@Model.Id" style="color: black">
    <div class="col-md-12 col-sm-6 friend-list">
        <div class="friend-card">
            <img style="max-width: None" src="@(Model.ImageUrl == "" ? "https://ecard.enter-media.org/upload/iblock/02c/02c0c6ac51f26bd6482d64bdfc6326d9.jpg" : "/" + Model.ImageUrl)" 
                 alt="profile-cover" class="img-responsive cover" width="400" height="100" runat="server">
            <div class="card-info" style="width: 400px; background-color: white">
                <img style="max-width: None" src="@src" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                    <a class="pull-right btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <h5>@Model.Name</h5>
                    <p>@Model.Subject</p>
                </div>
            </div>
        </div>
    </div>
</a>
