@using IntelliTest.Infrastructure
@model ClassViewModel
<a asp-action="Details" asp-route-id="@Model.Id">
    <div class="col-md-12 col-sm-6 friend-list">
        <div class="friend-card">
            <img style="max-width: None" src="@(Model.ImageUrl == "" ? "https://ecard.enter-media.org/upload/iblock/02c/02c0c6ac51f26bd6482d64bdfc6326d9.jpg" : Model.ImageUrl)" 
                 alt="profile-cover" class="img-responsive cover" width="400" height="100" runat="server">
            <div class="card-info" style="width: 400px; background-color: white">
                <img style="max-width: None" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                    @if (User.IsTeacher())
                    {
                            <a class="pull-right btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                    <h5>@Model.Name</h5>
                    <p>@Model.Subject</p>
                </div>
            </div>
        </div>
    </div>
</a>
