@using IntelliTest.Data.Enums
@model TestViewModel
@{
    ViewBag.Title = "Creating test";
    var classes = (string[])TempData.Peek("Classes");
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="PublicityLevel"></label>
                <select asp-for="PublicityLevel" class="form-control" id="publicSelect">
                    <option value="0">Публичен</option>
                    <option value="1">Само за учители</option>
                    <option value="2">Хора с линк</option>
                    <option value="3">За моя клас</option>
                    <option value="4">Скрит</option>
                </select>
                <span asp-validation-for="PublicityLevel" class="small text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 25px; margin-bottom: 25px; display: none" id="classSelect">
                <div class="select-btn">
                    <span class="btn-text">Избери класове</span>
                </div>

                <ul class="list-items" style="position: absolute; width: calc(50% - 16px)">
                    @for (int i = 0; i < classes.Count(); i++)
                    {
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                                <input type="checkbox" asp-for="Selected[i]" style="display: none"/>
                            </span>
                            <span class="item-text">@(classes[i])</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Заглавие...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject"></label>
                <select asp-for="Subject" class="form-control">
                    @foreach (var subjectValue in Enum.GetValues(typeof(Subject)))
                    {
                        string name = Enum.GetName(typeof(Subject), subjectValue);
                        <option value="@subjectValue">@name</option>
                    }
                </select>
                <span asp-validation-for="Subject" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time"></label>
                <input asp-for="Time" class="form-control">
                <span asp-validation-for="Time" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School"></label>
                <input asp-for="School" class="form-control" placeholder="Училище...">
                <span asp-validation-for="School" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea style="margin-left: 0" asp-for="Description" rows="4" class="form-control" placeholder="Описание..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade"></label>
                <select asp-for="Grade" class="form-control">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Grade" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mt-3" type="submit" value="Save">Продължи</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/testCreate.js"></script>