@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IntelliTest.Infrastructure
@model TestViewModel
<div class="card card-margin">
    <div class="card-header no-border">
        <h5 style="width: calc(100% - 50px)" class="card-title">@Model.Title - @Model.Grade</h5>
    </div>
    <div class="card-body pt-0">
        <div class="widget-49">
            <a class="btn circle test-trash" asp-action="Delete" asp-controller="Tests" asp-route-id="@Model.Id">
                <i class="fa-solid fa-trash"></i>
            </a>
            <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                    <span class="widget-49-date-day">@Model.AverageScore</span>
                    <span class="widget-49-date-month">score</span>
                </div>
                <div class="widget-49-meeting-info">
                    <span class="widget-49-pro-title">@Model.Description</span>
                    <span class="widget-49-meeting-time">@Model.CreatedOn</span>
                </div>
            </div>
            <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item">
                    <span>Въпроси: <strong>@(Model.OpenQuestions.Count() + Model.ClosedQuestions.Count())</strong></span>
                </li>
                <li class="widget-49-meeting-item">
                    <span>Време: <strong>@Model.Time мин</strong></span>
                </li>
                <li class="widget-49-meeting-item">
                    @if (User.IsTeacher() || User.IsAdmin())
                    {
                        <a asp-area="" asp-action="ExaminersAll" asp-route-testId="@Model.Id" style="color: #727686; text-decoration: underline">Изпитници: <strong>@Model.Students</strong></a>
                    }
                    else
                    {
                        <p>Изпитници: <strong>@Model.Students</strong></p>
                    }
                </li>
            </ol>
            <div class="widget-49-meeting-action d-flex justify-content-end">
                @{
                    if (User.IsTeacher() || User.IsAdmin())
                    {
                        if (Model.IsOwner || User.IsAdmin())
                        {
                            <a asp-area="" asp-controller="Tests" asp-action="Statistics" asp-route-testId="@Model.Id"
                               class="btn btn-sm btn-primary back-col" style="margin-right: 30px">
                                Статистика
                            </a>
                            <a asp-controller="Tests" asp-action="Edit" asp-route-id="@Model.Id"
                               class="btn btn-sm btn-primary back-col">
                                Редактирай
                            </a>
                        }
                    }
                    else
                    {
                        if (Model.IsTestTaken)
                        {
                            <a asp-controller="Tests" asp-action="ReviewAnswers" asp-route-studentId="@TempData.Peek(StudentId)" asp-route-testId="@Model.Id"
                               class="btn btn-sm btn-secondary back-col" style="margin-right: 30px">
                                Резултати
                            </a>
                            @if (Model.MultiSubmit)
                            {
                                <a onClick="warn(@Model.Id, @Model.Time, '@Model.Title')"
                                   class="btn btn-sm btn-secondary back-col" style="margin-right: 30px">
                                    Направи
                                </a>
                            }
                        }
                        else
                        {
                            <a onClick="warn(@Model.Id, @Model.Time, '@Model.Title')"
                               class="btn btn-sm btn-secondary back-col" style="margin-right: 30px">
                                Направи
                            </a>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>