@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IntelliTest.Core.Contracts
@using IntelliTest.Infrastructure
@model TestViewModel
<div class="card card-margin">
    <div class="card-header no-border">
        <h6 class="card-title">@Model.Title - @Model.Grade</h6>
    </div>
    <div class="card-body pt-0">
        <div class="widget-49">
            <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                    <span class="widget-49-date-day">@($"{Model.AverageScore:f2}")</span>
                    <span class="widget-49-date-month">score</span>
                </div>
                <div class="widget-49-meeting-info">
                    <span class="widget-49-pro-title">@Model.Subject.ToString()</span>
                    <span class="widget-49-meeting-time">@Model.CreatedOn.ToShortDateString()</span>
                </div>
            </div>
            <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item">
                    <span>Въпроси: <strong>@(Model.OpenQuestions.Count() + Model.ClosedQuestions.Count())</strong></span>
                </li>
                <li class="widget-49-meeting-item">
                    <span>Време: <strong>@Model.Time мин</strong></span>
                </li>
                <li class="widget-49-meeting-item">
                    <span>Изпитници: <strong>@Model.Students</strong></span>
                </li>
            </ol>
            <div class="widget-49-meeting-action d-flex justify-content-end">
                @{
                    if (User.IsTeacher())
                    {
                        if (Model.IsOwner)
                        {
                            <a asp-action="Statistics" asp-route-testId="@Model.Id"
                               class="btn btn-sm btn-primary back-col left-btn">
                                Статистика
                            </a>
                        }
                        <a asp-controller="Tests" asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn btn-sm btn-primary back-col">
                            Редактирай
                        </a>
                    }
                    else
                    {
                        if (Model.IsTestTaken)
                        {
                            var studentId = TempData.Peek("StudentId");
                            <a asp-controller="Tests" asp-action="ReviewAnswers" asp-route-studentId="@studentId" asp-route-testId="@Model.Id"
                               class="btn btn-sm btn-secondary back-col left-btn">
                                Резултати
                            </a>
                        }
                        else
                        {
                            <a onClick="warn('@Model.Id', @Model.Time, '@Model.Title')"
                                   class="btn btn-sm btn-secondary back-col left-btn">
                                Направи
                            </a>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>