@model IntelliTest.Core.Models.Questions.Closed.ClosedQuestionViewModel

<div class="questBox">
    <div class="customRow">
        <div class="questTextBox">
            @if (Model.IsEquation)
            {
                <p class="math-field question">@Model.Text</p>
            }
            else
            {
                <p>@Model.Text</p>
            }
        </div>
    </div>
    <div class="choice" onFocus="onFocus(this)" onBlur="onFocusOut(this)">
        @for (int i = 0; i < Model.Answers.Count(); i++)
        {
            <div class="questTextBox option">
                <div>
                    <input type="checkbox" asp-for="@Model.AnswerIndexes[i]" value="@Model.AnswerIndexes[i]" />
                </div>
                @if (Model.IsEquation)
                {
                    <p class="math-field text">@Model.Answers[i]</p>
                }
                else
                {
                    <p>@Model.Answers[i]</p>
                }
            </div>
        }
    </div>
</div>