@using IntelliTest.Data.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<TestResultsViewModel>
@{
    string GetGrade(Mark mark)
    {
        switch (mark)
        {
            case Mark.Poor:
                return "Слаб 2";
            case Mark.Average:
                return "Среден 3";
            case Mark.Good:
                return "Добър 4";
            case Mark.Great:
                return "Мн. Добър 5";
            case Mark.Excellent:
                return "Отличен 6";
            default:
                return "Неоценен";
        }
    }
}

@foreach (var test in Model)
{
    <div class="card card-margin">
        <div class="card-header no-border">
            <h5 class="card-title">@test.Title - @test.Grade</h5>
        </div>
        <div class="card-body pt-0">
            <div class="widget-49">
                <div class="widget-49-title-wrapper">
                    <div class="widget-49-date-primary">
                        <span class="widget-49-date-day">@test.Score</span>
                        <span class="widget-49-date-month">score</span>
                    </div>
                    <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">@GetGrade(test.Mark)</span>
                        <span class="widget-49-pro-title">@test.Description</span>
                        <span class="widget-49-meeting-time">@test.TakenOn</span>
                    </div>
                </div>
                <div class="widget-49-meeting-action d-flex justify-content-end">
                    <a asp-action="ReviewAnswers" asp-controller="Tests"
                       asp-route-studentId="@test.StudentId" asp-route-testId="@test" class="btn btn-sm btn-secondary back-col" style="margin-right: 30px">
                        Виж
                    </a>
                </div>
            </div>
        </div>
    </div>
}